html,
body,
#app {
    height: 100vh;
}

body {
    font-family: $font-family;
    background-color: $bg-light-gray;
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}