body {
    font-family: $font-family;
    background-color: $gallery;
    overflow: hidden;
}

* {
    & {
        -webkit-user-select: none;
    }

    &.-expanded {
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw !important;
        height: calc(100vh - 31px) !important;
        margin-top: 31px;
        z-index: 1;
    }
}

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    & {
        padding: 0;
        background-color: transparent;
        border: none;
    }
    
    &.-reactive:active {        
        transform: scale(0.96);
    }
    
    &:focus {
        outline: none;
    }
}

h5, 
span {
    cursor: default;
}