// colors
$blue: hsl(210, 66%, 48%);
$white: white;
$bg-light-gray: hsl(0 ,0%, 94%);
$bg-gray: hsl(0 ,0%, 86%);
$bg-dark-gray: hsl(0, 0%, 77%);
$darker-gray: hsl(0, 0%, 61%);
$darkest-gray: hsl(0, 0%, 34%);
$darkester-gray: hsl(0, 0%, 22%);

// fonts
$font-family: 'Segoe UI', sans-serif;