// colors
$crimson: #e31126;
$light-coral: #f06f7c;
$fun-blue: #195ea3;
$astral: #3370ac;
$mariner: #297acb;
$steel-blue: #3e87d0;
$havelock-blue: #5293d5;
$corn-flower-blue: #73a8dd;
$light-blue: #a8c9ea;
$lavender: #e2edf7;
$white: white;
$gallery: #efefef;
$gainsboro: #e5e5e5;
$alto: #dbdbdb;
$light-gray: #cccccc;
$silver: #c4c4c4;
$dark-gray: #afafaf;
$dusty-gray: #9b9b9b;
$dove-gray: #6b6b6b;
$scorpion: #565656;
$mine-shaft: #383838;
$black: black;

// fonts
$font-family: 'Segoe UI', Frutiger, "Frutiger Linotype", "Dejavu Sans", "Helvetica Neue", Arial, sans-serif;

// curves
$ease-out: cubic-bezier(.05,.17,.06,.99);

// spacing
$content-spacing: 12px;
