.page-content.-chronometer {
  display: flex;
  flex-direction: column;
  align-items: center;

  > .timer {
    flex-shrink: 0;
  }

  > .timer:hover {
    border: none;
  }

  > .timer > .watch > .-hundredths {
    padding-top: 19px;
    font-size: 1.6rem;
  }
}
