.chronometer-results {
    & {
        display: flex;
        flex-direction: column;
        width: 310px;
        margin-top: 20px;
    }

    > .header {
        margin-bottom: 6px;
        color: $dove-gray;
    }

    > .header,
    > .scroller {
        padding-left: 30px;
    }

    > .scroller {
        overflow-y: auto;
    }

    > .header > .title {
        margin: 0;
    }

    > .scroller > .laps {
        display: flex;
        flex-direction: column-reverse;
        padding: 0;
        margin: 0;
    }

    > .scroller > .laps > .lap {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-bottom: 8px;
    }

    > .scroller > .laps > .lap:before {
        position: absolute;
        left: -25px;
        top: 4px;
        color: $silver;
        font-size: 0.8rem;
    }

    > .scroller > .laps > .lap > .partial {
        font-size: 1.2rem;
    }

    > .scroller > .laps > .lap > .total > .watch {
        font-weight: 500;
    }

    > .scroller > .laps > .lap .watch > .unit {
        color: $dusty-gray;
    }
}