.command-bar-item {
    & {
        display: flex;
        flex-basis: 68px;
        justify-content: center;
        align-items: center;
        min-height: 48px;
        color: $scorpion;
        font-size: 1.4rem;
        box-sizing: border-box;
        cursor: default;
    }
    
    &:hover {
        background-color: $silver;
    }

    &:active {
        background-color: $dark-gray;
    }

    &[disabled] > svg > g {
        stroke: $dove-gray !important;
    }
}