.command-bar-item {
    & {
        display: flex;
        flex-basis: 48px;
        justify-content: center;
        align-items: center;
        min-height: 48px;
        padding-bottom: 4px;
        color: $gray;
        font-size: 1.4rem;
        box-sizing: border-box;
        cursor: default;
    }
    
    &:hover {
        background-color: $bg-dark-gray;
    }
}