.command-bar {
    & {
        display: flex;
        justify-content: flex-end;
        flex-shrink: 0;
        background-color: $alto;
    }
    
    > a:last-of-type {
        flex-basis: 48px;
    }
}