.countdown-command-button {
    & {
        width: 48px;
        height: 48px;
        color: $mine-shaft;
        font-size: 1.8rem;
    }
    
    &:hover {
        background-color: $alto;
    }
    
    &:active {
        background-color: $silver;
    }
    
    & > span:before {
        position: relative;
        top: -1px;
    }

    &.-lightTheme {
        color: $white;
    }

    &.-lightTheme:hover {
        background-color: $steel-blue;
    }

    &.-lightTheme:active {
        background-color: $corn-flower-blue;
    }
}