#start-pause-button {
    & {        
        position: relative;
        width: 60px;
        height: 60px;
        padding: 0;
    }
    
    &:hover,
    &:active {
        background: none;
    }
    
    &:active {
        transform: scale(0.97);
    }
    
    > .icon {
        position: absolute;
        left: 50%;
        top: 50%;
    }
    
    > .start {
        width: 14px;
        height: 18px;
        margin-left: -5px;
        margin-top: -9px;        
    }
    
    > .pause {
        width: 8px;
        height: 16px;
        margin-left: -4px;
        margin-top: -8px;
    }
    
    > .start > polygon {
        fill: transparent;
        stroke: $darkester-gray;
        stroke-width: 1.2px;
    }
    
    > .pause > line {
        stroke: $darkester-gray;
        stroke-width: 1.5px;
        stroke-linecap: round;
    }
    
    > .border {
        width: 100%;
        height: 100%;
    }
    
    > .border > circle,
    > .time-progress > circle {
        fill: transparent;
        stroke-width: 2px;
    }
    
    > .border > circle {
        stroke: $bg-gray;
    }
    
    > .time-progress {
        position: absolute;
        left: 0;
    }
    
    > .time-progress > circle {
        stroke: $blue;
        stroke-dasharray: 182px;        
        transform: rotateZ(-90deg);
        transform-origin: center center;
        
        @include make-transition(stroke-dashoffset);
    }
    
    &:hover .border > circle {
        fill: $bg-gray;
        stroke: $bg-dark-gray;
    }
    
    &:active .border > circle {
        fill: $bg-dark-gray;
        stroke: hsl(0, 0%, 71%); /* ??? */
    }
}

#start-pause-button[disabled] {
    &:active {
        transform: none;
    }
    
    > .start > polygon {
        stroke: $bg-dark-gray;
    }
    
    &:hover .border > circle,
    &:active .border > circle {
        fill: transparent;
        stroke: $bg-gray;
    }
}