.start-pause-button {
  position: relative;
  width: 60px;
  height: 60px;
  padding: 0;

  &:hover,
  &:active {
    background: none;
  }

  &:active {
    transform: scale(0.97);
  }

  > .icon {
    position: absolute;
    left: 50%;
    top: 50%;
  }

  > .icon-play {
    margin-left: -5px;
    margin-top: -9px;
  }

  > .icon-pause {
    margin-left: -4px;
    margin-top: -8px;
  }

  > .icon-play > polygon {
    fill: transparent;
    stroke: $mine-shaft;
    stroke-width: 1.2px;
  }

  > .icon-pause > line {
    stroke: $mine-shaft;
    stroke-width: 1.5px;
    stroke-linecap: round;
  }

  > .border {
    width: 100%;
    height: 100%;
  }

  > .border > circle,
  > .time-progress > circle {
    fill: transparent;
    stroke-width: 2px;
  }

  > .border > circle {
    stroke: $alto;
  }

  > .time-progress {
    position: absolute;
    width: 60px;
    height: 60px;
    left: 0;
  }

  > .time-progress > circle {
    stroke: $mariner;
    stroke-dasharray: 182px;
    transform: rotateZ(-90deg);
    transform-origin: center center;
  }

  &:hover .border > circle {
    fill: $alto;
    stroke: $silver;
  }

  &:active .border > circle {
    fill: $silver;
    stroke: hsl(0, 0%, 71%); /* ??? */
  }

  &.-lighttheme > .icon-play > polygon,
  &.-lighttheme > .icon-pause > line {
    stroke: $lavender;
  }

  &.-lighttheme > .border > circle {
    stroke: $havelock-blue;
  }

  &.-lighttheme > .time-progress > circle {
    stroke: $light-blue;
  }

  &.-lighttheme:hover > .border > circle {
    fill: $steel-blue;
    stroke: $corn-flower-blue;
  }

  &.-lighttheme:active > .border > circle {
    fill: $havelock-blue;
    stroke: lighten($havelock-blue, 3%);
  }
}

.start-pause-button[disabled] {
  &:active {
    transform: none;
  }

  > .icon-play > polygon,
  > .icon-pause > line {
    stroke: $silver;
  }

  > .time-progress > circle {
    stroke: transparent;
  }

  &:hover .border > circle,
  &:active .border > circle {
    fill: transparent;
    stroke: $alto;
  }

  &.-lighttheme > .icon-play > polygon,
  &.-lighttheme:hover .border > circle,
  &.-lighttheme:active .border > circle {
    stroke: $havelock-blue;
  }
}
