.timer {
    & {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 344px;
        height: 205px;
        box-sizing: border-box;
    }
    
    &:hover {
        border: 2px solid $bg-gray;        
    }
    
    > .counter-watch {
        color: $darker-gray;
        font-size: 2.7rem;
    }
    
    > .info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    > .info > .name {
        color: $darkest-gray;
        font-size: 0.95rem;
    }
}