.title-bar {
    & {
        display: flex;
        height: 31px;
        background-color: $alto;       
    }
    
    > .title {
        flex: 1;
        padding: 6px 0 0 12px;
        margin: 0;
        font-size: 0.75rem;
        font-weight: 500;

        -webkit-app-region: drag;
    }
    
    > .buttons {
        display: flex;
        flex-basis: 138px;
    }
}