.watch {
  display: flex;
  justify-content: space-between;
  color: $scorpion;
  font-weight: 700;

  > .unit.-active {
    color: black !important;
  }

  > .unit:nth-child(-n+2):after {
    content: ':';
    position: relative;
    top: -0.15em;
    margin: 0 0.09em;
    font-size: 0.82em;
  }

  > .unit.-hundredths:before {
    content: ',';
  }

  &.-lighttheme > .unit {
    color: $corn-flower-blue;
  }

  &.-lighttheme > .unit.-active {
    color: $white !important;
  }
}
